@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!DOCTYPE html>
<html lang="en">

<body class="d-flex flex-column min-vh-100">
    <div id="header"></div>
    <form action="landing.html" method="post" class="container">
        <h1 class="h3 mb-3 fw-normal">Авторизация</h1>
        <div class="form-floating">
            <input type="text" class="form-control" name="username" id="floatingInput" placeholder="login">
            <label for="floatingInput">Логин</label>
        </div>
        <div class="form-floating">
            <input type="password" class="form-control" name="password" id="floatingPassword" placeholder="Password">
            <label for="floatingPassword">Пароль</label>
        </div>
        <button class="w-100 btn btn-lg btn-primary" type="submit">Авторизироваться</button>

    </form>
</body>
</html>