@model IEnumerable<Dish>

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

    <div class="container">
        <div class="row">
            <div class="col-12 col-md-8"></div>
            <div class="col-6 col-md-4">
        <form class="d-flex" method="get" action="#">
            <input class="form-control me-1" type="search" name="search" placeholder="Поиск" aria-label="Search">
            <button class="btn btn-outline-primary" type="submit">Поиск</button>
        </form>
            </div>
        </div>
        <div class="container mt-5">
            <div class="row">
                @foreach(var item in Model)
                    {
                        <div class="col-md-4">

                            <div class="card mb-4 box-shadow">
                                <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" style="height: 225px; width: 100%; display: block;" src="@item.Image" data-holder-rendered="true">
                                <div class="card-body">
                                    <p class="card-text">@item.Name</p>
                                    <p class="card-text">@item.Price Руб</p>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="btn-group">
                                            <a class="btn btn-sm btn-outline-secondary">В корзину</a>
                                            <a class="btn btn-sm btn-outline-primary" asp-area="" asp-controller="Menu" asp-action="DishDetail" asp-route-id="@item.Id">Подробнее</a>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                   
            </div>
        </div>
    </div>
