@{
    ViewData["Title"] = "Home Page";
}

    <header class="bg-dark py-5">
        <div class="container px-5">
            <div class="row gx-5 justify-content-center">
                <div class="col-lg-6">
                    <div class="text-center my-5">
                        <h1 class="display-5 fw-bolder text-white mb-2">Вкусно и пицца</h1>
                        <p class="lead text-white-50 mb-4">Сервис по доставке пиццы</p>
                        <div class="d-grid gap-3 d-sm-flex justify-content-sm-center">
                            <a class="btn btn-primary btn-lg px-4 me-sm-3" href="#features">Подробнее</a>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    


    <section class="py-5 border-bottom" id="features">
        <div class="container px-5 my-5">
            <div class="row gx-5">
                <div class="col-lg-4 mb-5 mb-lg-0">
                    <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-building"></i></div>
                    <h2 class="h4 fw-bolder">Выбор</h2>
                    <p>Вкуснейшая пицца во всем мире, а так же самый большой ассортимент</p>
                </div>
                <div class="col-lg-4 mb-5 mb-lg-0">
                    <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-building"></i></div>
                    <h2 class="h4 fw-bolder">Доставка</h2>
                    <p>Только наша курьерская служба может доставить вам пиццу за рекордное время</p>
                </div>
                <div class="col-lg-4 mb-5 mb-lg-0">
                    <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-building"></i></div>
                    <h2 class="h4 fw-bolder">Заказ в 2 клика</h2>
                    <p>Самая удобная и понятна система заказа</p>
                </div>
            </div>
        </div>
    </section>
