<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - DeliveryApp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/DeliveryApp.styles.css" asp-append-version="true" />
</head>
<body class="d-flex flex-column min-vh-100">
    <header class="p-3 bg-dark text-white"
            xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
            xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xsi:schemaLocation="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5 ">
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                    <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap">
                        <use xlink:href="#bootstrap"></use>
                    </svg>
                </a>

                <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                    <li><a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Index">Главная</a></li>
                    <li><a class="nav-link text-white" asp-area="" asp-controller="Menu" asp-action="Index">Меню</a></li>
                    <li><a class="nav-link text-white" asp-area="" asp-controller="Address" asp-action="Index">Адреса</a></li>
                    @if (User.Identity.IsAuthenticated){
                    <li><a class="nav-link text-white" asp-area="" asp-controller="Cart" asp-action="Index">Корзина</a></li>
                        <li><a class="nav-link text-white" asp-area="" asp-controller="Order" asp-action="UserOrders">Ваши заказы</a></li>
                    }
                    @if (User.Identity.IsAuthenticated && User.IsInRole("admin"))
                    {
                        <li><a class="nav-link text-white" asp-area="" asp-controller="User" asp-action="Index">Пользователи</a></li>
                        <li><a class="nav-link text-white" asp-area="" asp-controller="Order" asp-action="Index">Список заказов</a></li>
                    }
                </ul>
                
                @if (User.Identity.IsAuthenticated)
                {
                    <div>
                        <a class="btn btn-warning" asp-area="" asp-controller="Account" asp-action="Logout">Выход</a>
                        <a class="btn btn-warning" asp-area="" asp-controller="User" asp-action="EditProfile">Редактировать профиль</a>
                    </div>
                }
                else
                {
                    <div>
                        <a class=" btn btn-warning" asp-area="" asp-controller="Account" asp-action="Login">Вход</a>
                        <a class="btn btn-warning" asp-area="" asp-controller="Account" asp-action="Register">Регистрация</a>
                    </div>
                }
               

            </div>
        </div>
    </header>
    <div >
        
            @RenderBody()
        
    </div>

    
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
