<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - DeliveryApp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/DeliveryApp.styles.css" asp-append-version="true" />
</head>
<body>
    <header class="p-3 bg-dark text-white"
            xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
            xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xsi:schemaLocation="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5 ">
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                    <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap">
                        <use xlink:href="#bootstrap"></use>
                    </svg>
                </a>

                <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                    <li><a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="StartPage">Главная</a></li>
                    <li><a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="ProductMenu">Меню</a></li>
                    <li><a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Cart">Корзина</a></li>
                    <li><a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Admin">Админ-панель</a></li>
                </ul>
                <div class="flex-shrink-0 dropdown">
                    <a href="#" class="d-block link-light text-decoration-none dropdown-toggle" id="dropdownUser"
                       data-bs-toggle="dropdown" aria-expanded="false">Пользователь</a>
                    <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser" style="">
                        <li>
                            <form action="/logout" method="post">
                                <input type="submit" class="dropdown-item" value="Выход" />
                            </form>
                        </li>
                    </ul>
                </div>

                <div>
                    <a class="btn btn-outline-light me-2" href="login.html">Вход</a>
                    <a class="btn btn-warning" href="registration.html">Регистрация</a>
                </div>
            </div>
        </div>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="py-5 bg-dark" th:fragment="header">
        <div class="col-md-4 d-flex align-items-center">
        

        <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">

        </ul>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
